<!-- Footer -->
  <footer id="footer">
    <ul class="icons">
      {% if site.twitter %}
        <li><a href="{{site.twitter}}" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
      {% endif %}
      {% if site.facebook %}
        <li><a href="{{site.facebook}}" class="icon fa-github"><span class="label">Github</span></a></li>
      {% endif %}
      {% if site.instagram %}
        <li><a href="{{site.instagram}}" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
      {% endif %}
      {% if site.github %}
        <li><a href="{{site.github}}" class="icon fa-dribbble"><span class="label">Dribbble</span></a></li>
      {% endif %}
    </ul>
    {% if site.foundation_name %}
    <ul class="copyright">
      <li>&copy; {{ site.foundation_name }}</li>
      {% if site.email_public %}
        <li><a href="mailto:{{site.email_public}}" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
      {% endif %}
    </ul>
    {% endif %}
    <ul class="copyright">
      <li>Powered By: <a href="http://smartergiving.org">SmarterGiving</a></li>
      <li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
    </ul>
  </footer>
